################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEST/.vs/WEST/v16
/.vs
/Cart.API/bin/Debug/netcoreapp3.1
/Cart.API/obj
