################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WEST/.vs/WEST/v16
/.vs
/Cart.API/bin/Debug/netcoreapp3.1
/Cart.API/obj
/Cart.Tests/bin/Debug/netcoreapp3.1
/Cart.Tests/obj
/EventBus/obj
/EventBus/bin/Debug/netstandard2.0
/EventBusRabbitMQ/obj
/EventBusRabbitMQ/bin/Debug/netstandard2.0
/WEST.React/obj
/WEST.React/node_modules
/WEST.React/bin/Debug/netcoreapp3.1
/Identity.API/bin/Debug/netcoreapp3.1
/Identity.API/obj
